.choose{
    padding-top: 93px;
    padding-bottom: 80px;
    display: flex;
    &__container{
        display: flex;
        align-items: center;
    }
    &__left{
        max-width: 407px;
        margin-right: 207px;
    }
    &__span{
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #424F7B;
    }
    &__heading{
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 36px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #192252;
        padding-bottom: 24px;
        padding-top: 12px;
     
    }
    &__desc{
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #848FAC;
        padding-bottom: 32px;
    }
    &__list{
        list-style-type: none;
    }
    &__item{
        max-width: 588px;
        padding-bottom: 24px;
    }
    &__link{
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #0E1734;
        transition: 0.3s;
        margin-left: 24px;
    }
    &__button{
        padding: 16px 32px;
    }
    &__link:hover{
        opacity: 0.8;
    }
    &__link:active{
        opacity: 0.4;
    }
    &__right{
        max-width: 588px;
    }
    &__right-heading{
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        color: #424F7B;
        max-width: 516px;
        padding-bottom: 24px;
    }
    &__right-desc{
        padding-bottom: 60px;
    }
    &__right-img2{
       background-color: orangered;
       border-radius: 50%;
       margin-left: 119px;
    }
    &__right-img1{
        border-radius: 50%;
        margin-left: 145px;  
    }
    &__right-img3{
        border-radius: 50%;
        margin-left: 240px;
    }
    
}