.hero{
    &__container{
        display: flex;
        align-items: center;
    }
    &__box{
        max-width: 587px;
    }
    &__heading{
        margin: 0;
        font-weight: 600;
        font-size: 48px;
        line-height: 150%;
        letter-spacing: -0.01em;  
        color: #192252;
        padding-bottom: 24px;
    }
    &__desc{
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #848FAC;
        padding-bottom: 32px;
    }
    &__img{
        margin-left: 24px;
    }

}